<!-- Sidebar -->
<nav class="p-8 min-h-dvh space-y-4 dark:bg-zinc-900">
  <h1 class="text-3xl font-bold">Grocery Shop</h1>
  <ul class="space-y-2 text-center text-xl font-semibold">
    <li><a href="/shop">Home</a></li>
    <li><a href="/shop/categories">All Categories</a></li>
    <li><a href="/shop/items">All Items</a></li>

    <li><a href="/shop/category/create">Create Category</a></li>
    <li><a href="/shop/item/create">Create Item</a></li>
  </ul>
</nav>